annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
azure-ai-documentintelligence==1.0.0
azure-common==1.1.28
azure-core==1.32.0
azure-search-documents==11.5.2
azure-storage-blob==12.24.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
distro==1.9.0
Django==5.0.12
django-mssql-backend==2.8.1
groq==0.18.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
isodate==0.7.2
mssql-django==1.5
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyodbc==5.2.0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
